.body-div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-content {
    min-height: 475px;
}

a {
    align-self: flex-end;
    color: whitesmoke;
    margin-top: 8px;
    margin-right: 16px;
    cursor: pointer;
}

a:hover {
    color: blueviolet;
}